Repository AMATEURTOSS/pong_pong_website, pull requests merged in 2021-10, with the labels that each got.

#194 Update dm
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/scss/dm/Dm.scss
  app/frontend/src/scss/dm/DmList.scss
  app/frontend/src/scss/dm/DmRoom.scss
Labels: frontend

#195 Add Time class
  app/frontend/src/utils/Time.ts
Labels: enhancement, frontend

#197 채팅방 만들기, session 정보도 내 정보 가져오기
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.module.ts
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/MakeChatRoom.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
  app/frontend/src/scss/content/chat/MakeChatRoom.scss
Labels: enhancement, frontend

#200 로딩중 컴포넌트와 결과없음 컴포넌트 활용한 업데이트
  app/frontend/src/component/loading/Loading.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: frontend, refactoring

#202 Add friends online status icon
  app/backend/src/app.module.ts
  app/backend/src/entities/users.ts
  app/backend/src/global/global.controller.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/global/global.module.ts
  app/backend/src/global/global.service.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
  app/frontend/public/status/ingame.svg
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/scss/navbar/NavBar.scss
Labels: frontend, backend

#201 Fix bug
  app/frontend/src/component/modal/content/game/GameMatchContent.tsx
  app/frontend/webpack.config.js
Labels: bug, frontend

#204 Fix error msg
  app/backend/src/friend/friend.service.ts
Labels: backend

#205 protected 방 입장 시 비밀번호 치는 화면 구현
  app/frontend/public/protected.png
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
Labels: enhancement, frontend

#206 Update Time class
  app/frontend/src/utils/Time.ts
Labels: frontend, refactoring

#207 Fix Time class
  app/frontend/src/utils/Time.ts
Labels: frontend

#208 Chat css 수정
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
Labels: frontend

#211 Add Dm
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/dm-store/dm-store.controller.ts
  app/backend/src/dm-store/dm-store.module.ts
  app/backend/src/dm-store/dm-store.service.ts
  app/backend/src/dto/dm-store.ts
  app/backend/src/dto/match.ts
  app/backend/src/entities/dm-store.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/global/global.module.ts
  app/backend/src/users/users.service.ts
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/dm/DmList.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/dummydata/testDM.ts
  app/frontend/src/index.tsx
  app/frontend/src/scss/dm/DmList.scss
  app/frontend/src/scss/mainpage/MainPage.scss
Labels: enhancement, frontend, backend

#215 Update backed API
  app/backend/src/chat-users/chat-users.controller.ts
  app/backend/src/chat-users/chat-users.module.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat-users.ts
Labels: backend

#222 Add login guard in frontend
  app/frontend/src/utils/EasyFetch.ts
Labels: enhancement, frontend

#221 Improve nav bar
  app/frontend/src/colors.scss
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: frontend

#219 Add Notice in addFriend
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
Labels: enhancement, frontend

#224 비공개방 입장시 백엔드에서 비밀번호 검증
  app/backend/src/chat/chat.service.ts
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/webpack.config.js
Labels: enhancement, frontend

#228 Fix react router white page bug
  app/frontend/public/index.html
Labels: bug, frontend

#229 Remove Custom Scroll Bar Design
  app/frontend/src/App.scss
Labels: frontend

#231 Fix #216
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
Labels: bug, frontend

#234 Update UserInfo to global Object using useReducer and contextAPI
  app/backend/ormconfig.ts
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: frontend, refactoring

#257 Feat ConfigChatRoom
  app/backend/src/chat/chat.service.ts
  app/frontend/src/component/modal/content/chat/ChatConfigContent.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
  app/frontend/src/scss/content/chat/ConfigChatRoom.scss
Labels: enhancement, frontend

#265 Fix dm time bug
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
Labels: bug, frontend

#264 Fix tester login bug
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/users/users.service.ts
Labels: bug, backend

#271 context DM 추가
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
Labels: enhancement, frontend

#256 공 회전 문제 수정
  app/backend/src/game/game.logic.ts
Labels: bug

#274 ChatContext 구현
  app/backend/src/ban/ban.service.ts
  app/backend/src/chat-users/chat-users.module.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat.ts
  app/backend/src/mute/mute.service.ts
  app/backend/src/users/users.service.ts
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
Labels: enhancement, frontend, backend

#297 Add ChatInvite
  app/backend/src/dm-store/dm-store.controller.ts
  app/backend/src/dm-store/dm-store.service.ts
  app/backend/src/entities/dm-store.ts
  app/backend/src/entities/invite.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/global/global.module.ts
  app/frontend/public/green-check.png
  app/frontend/public/red-x.png
  app/frontend/src/Context.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/component/mainpage/dm/DmList.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/scss/content/chat/ChatInviteContent.scss
  app/frontend/src/scss/dm/DmRoom.scss
Labels: enhancement, frontend, backend
