Repository AMATEURTOSS/pong_pong_website, pull requests merged in 2021-09, with the labels that each got.

#114 Refactor main page design
  app/frontend/src/App.scss
  app/frontend/src/scss/mainpage/MainPage-media.scss
  app/frontend/src/scss/mainpage/MainPage.scss
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: frontend

#116 Move MainPage font to App
  app/frontend/src/App.scss
  app/frontend/src/scss/mainpage/MainPage.scss
Labels: bug, frontend

#121 Add Loading bar
  app/frontend/src/component/loading/Loading.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
Labels: enhancement, frontend

#122 Remove useless post in MainPage.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
Labels: frontend

#125 Fix friend search
  app/backend/src/friend/friend.controller.ts
Labels: backend

#126 Add record arrow button
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
Labels: enhancement, frontend

#128 기존의 내 프로필 재사용 가능하도록 구현
  app/frontend/src/App.scss
  app/frontend/src/component/chart/BarChart.tsx
  app/frontend/src/component/chart/CircleChart.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/content/chat/ChatContent.scss
  app/frontend/src/scss/content/myprofile/ManageFriendContent.scss
  app/frontend/src/scss/content/profile/ManageFriendContent.scss
  app/frontend/src/scss/content/profile/ProfileContent.scss
  app/frontend/src/scss/mainpage/MainPage.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: enhancement, frontend

#132 Add test account login api
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
  app/frontend/src/component/login/Login.tsx
Labels: backend

#127 Improve chat context menu
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/scss/content/chat/ChatContextMenu.scss
Labels: enhancement, frontend

#133 Add fabric js (canvas library)
  app/frontend/package-lock.json
  app/frontend/package.json
Labels: enhancement, frontend

#136 프로필에서 전적보기 자동 검색, 검색 css 버그 수정
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/content/profile/ProfileContent.scss
Labels: bug, enhancement, frontend

#137 Fix backend API
  app/backend/src/admin/admin.controller.ts
  app/backend/src/admin/admin.module.ts
  app/backend/src/admin/admin.service.ts
  app/backend/src/ban/ban.controller.ts
  app/backend/src/ban/ban.module.ts
  app/backend/src/block/block.controller.ts
  app/backend/src/chat-users/chat-users.controller.ts
  app/backend/src/chat-users/chat-users.module.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/dm-store/dm-store.controller.ts
  app/backend/src/dm-store/dm-store.module.ts
  app/backend/src/dto/admin.ts
  app/backend/src/dto/ban.ts
  app/backend/src/dto/block.ts
  app/backend/src/dto/chat-users.ts
  app/backend/src/dto/chat.ts
  app/backend/src/dto/dm-store.ts
  app/backend/src/dto/friend.ts
  app/backend/src/dto/match.ts
  app/backend/src/dto/mute.ts
  app/backend/src/dto/users.ts
  app/backend/src/friend/friend.controller.ts
  app/backend/src/friend/friend.module.ts
  app/backend/src/friend/friend.service.ts
  app/backend/src/match/match.controller.ts
  app/backend/src/match/match.module.ts
  app/backend/src/mute/mute.controller.ts
  app/backend/src/mute/mute.module.ts
  app/backend/src/users/users.controller.ts
Labels: bug, backend

#138 Add socket.io-client
  app/frontend/package-lock.json
  app/frontend/package.json
Labels: enhancement, frontend

#139 Fix media
  app/frontend/src/scss/mainpage/MainPage-media.scss
  app/frontend/src/scss/mainpage/MainPage-mobile.scss
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar-mobile.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: bug, frontend

#140 Add Image onError exception handling
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: enhancement, frontend

#141 Fix firefox font error
  app/frontend/src/App.scss
Labels: bug, frontend

#145 Fix session expired time to 360min
  app/backend/src/main.ts
Labels: bug, backend

#147 Fix modal duplicated rendering by removing duplicated routers
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
Labels: bug, frontend

#149 Add ManageFriendList get friendList from API
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/dummydata/testFriendList.ts
  app/frontend/src/dummydata/testFriendListMyProfile.ts
Labels: enhancement, frontend

#150 Add favicon
  app/frontend/public/favicon.ico
  app/frontend/public/index.html
Labels: enhancement, frontend

#151 Fix block API
  app/backend/src/block/block.controller.ts
  app/backend/src/block/block.module.ts
  app/backend/src/dto/block.ts
Labels: backend

#153 블락리스트 API로 받아오기
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/dummydata/testBlockedList.ts
Labels: enhancement, frontend

#156 Add no friend exception
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
Labels: enhancement, frontend

#158 Update modal size
  app/frontend/src/scss/Modal.scss
Labels: frontend

#159 Fix friend API
  app/backend/src/dto/friend.ts
  app/backend/src/friend/friend.controller.ts
Labels: backend

#160 친구 차단, 차단해제 기능 구현
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/scss/content/profile/ManageFriendContent.scss
Labels: enhancement, frontend

#162 친구 삭제, 추가, 차단, 해제 구현
  app/frontend/public/unlock.png
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/scss/navbar/NavBar.scss
Labels: enhancement, frontend

#170 Add dm UI
  app/frontend/public/DM-closer.svg
  app/frontend/public/chat-reverse.svg
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/scss/dm/Dm.scss
  app/frontend/src/scss/mainpage/MainPage.scss
Labels: enhancement, frontend

#165 Refactor Main Page button
  app/frontend/src/scss/mainpage/MainPage-mobile.scss
  app/frontend/src/scss/mainpage/MainPage.scss
Labels: frontend

#164 Add notice component
  app/frontend/src/component/notice/Notice.tsx
  app/frontend/src/scss/notice/Notice.scss
Labels: enhancement, frontend

#171 Fix Dm section bug
  app/frontend/src/scss/mainpage/MainPage.scss
Labels: bug, frontend

#174 Improve notice
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/notice/Notice.tsx
  app/frontend/src/scss/notice/Notice.scss
Labels: frontend

#172 친구 관리 관련 함수 전부 구현
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: enhancement, frontend

#166 Add login guard
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/auth/logged-in.guard.ts
  app/backend/src/auth/not-logged-in.guard.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/session/session.controller.ts
Labels: backend

#179 Fix friend list bug
  app/frontend/src/scss/navbar/NavBar-media.scss
Labels: bug, frontend

#177 Fix modal content size
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/content/chat/ChatContent.scss
Labels: bug, frontend

#175 Use global variable
  app/frontend/src/component/login/Login.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/index.tsx
Labels: frontend, refactoring

#181 Improve dm
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/component/mainpage/dm/DmList.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/dummydata/testDM.ts
  app/frontend/src/scss/dm/Dm.scss
  app/frontend/src/scss/dm/DmList.scss
  app/frontend/src/scss/dm/DmRoom.scss
Labels: enhancement, frontend

#182 Add game prototype
  app/backend/src/adapter.ts
  app/backend/src/app.module.ts
  app/backend/src/game/game.controller.spec.ts
  app/backend/src/game/game.controller.ts
  app/backend/src/game/game.gateway.spec.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/game/game.logic.ts
  app/backend/src/game/game.module.ts
  app/backend/src/game/game.service.spec.ts
  app/backend/src/game/game.service.ts
  app/backend/src/main.ts
  app/backend/src/users/users.service.ts
  app/frontend/src/component/loading/Loading.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/game/GameContent.tsx
  app/frontend/src/component/modal/content/game/GameMatchContent.tsx
  app/frontend/src/component/modal/content/game/GameOptionContent.tsx
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
  app/frontend/src/scss/content/game/GameContent.scss
  app/frontend/src/scss/content/game/GameMatchContent.scss
  app/frontend/src/scss/content/game/GameOptionContent.scss
  app/frontend/src/scss/content/game/GameRoomContent.scss
Labels: frontend, backend

#183 Add Dm feature
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/scss/dm/Dm.scss
  app/frontend/src/scss/dm/DmRoom.scss
Labels: enhancement, frontend

#184 Add Site Title
  app/frontend/public/index.html
Labels: enhancement, frontend

#186 Integrate backend frontend server
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/app.service.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
  app/frontend/package.json
  app/frontend/src/component/login/Login.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/modal/content/game/GameMatchContent.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/index.tsx
  docker-compose.yml
  docker.env
Labels: frontend, backend

#190 Use record ladder ranking api instead of dummydata
  app/frontend/src/component/chart/BarChart.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/dummydata/testLadderRank.ts
  app/frontend/src/scss/content/RecordContent.scss
Labels: frontend

#189 Add NoResult
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/src/component/noresult/NoResult.tsx
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/noresult/NoResult.scss
Labels: enhancement, frontend

#188 Update Dm animation speed
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/scss/dm/Dm.scss
Labels: frontend

#187 Fix fetch friend list typo
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
Labels: bug, frontend
