Repository AMATEURTOSS/pong_pong_website, pull requests merged in 2021-08, with the labels that each got.

#50 DB basic CRUD update..
  app/backend/src/achievements/achievements.controller.spec.ts
  app/backend/src/achievements/achievements.controller.ts
  app/backend/src/achievements/achievements.module.ts
  app/backend/src/achievements/achievements.service.spec.ts
  app/backend/src/achievements/achievements.service.ts
  app/backend/src/achivements/achivements.controller.spec.ts
  app/backend/src/achivements/achivements.controller.ts
  app/backend/src/achivements/achivements.module.ts
  app/backend/src/achivements/achivements.service.ts
  app/backend/src/admin/admin.controller.ts
  app/backend/src/app.module.ts
  app/backend/src/ban/ban.controller.ts
  app/backend/src/block/block.controller.ts
  app/backend/src/chat-users/chat-users.controller.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/dm-store/dm-store.controller.ts
  app/backend/src/dto/achievements.ts
  app/backend/src/dto/achivements.ts
  app/backend/src/dto/admin.ts
  app/backend/src/dto/ban.ts
  app/backend/src/dto/block.ts
  app/backend/src/dto/chat-users.ts
  app/backend/src/dto/chat.ts
  app/backend/src/dto/dm-store.ts
  app/backend/src/dto/friend.ts
  app/backend/src/dto/match.ts
  app/backend/src/dto/mute.ts
  app/backend/src/dto/users.ts
  app/backend/src/friend/friend.controller.ts
  app/backend/src/friend/friend.service.ts
  app/backend/src/match/match.controller.ts
  app/backend/src/match/match.service.ts
  app/backend/src/mute/mute.controller.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.module.ts
  app/backend/src/users/users.service.ts
Labels: backend

#49 Refactoring
  app/frontend/src/App.scss
  app/frontend/src/colors.scss
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/dummydata/testFriendList.ts
  app/frontend/src/scss/MainPage.scss
  app/frontend/src/utils/EasyFetch.ts
Labels: frontend

#51 DB basic CRUD UPDATE..
  app/backend/src/achievements/achievements.controller.ts
  app/backend/src/achievements/achievements.service.ts
  app/backend/src/admin/admin.controller.ts
  app/backend/src/admin/admin.service.ts
  app/backend/src/ban/ban.controller.ts
  app/backend/src/ban/ban.service.ts
  app/backend/src/block/block.controller.ts
  app/backend/src/block/block.service.ts
  app/backend/src/chat-users/chat-users.controller.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/utility.ts
  app/backend/src/err.ts
  app/backend/src/friend/friend.controller.ts
  app/backend/src/friend/friend.service.ts
  app/backend/src/match/match.controller.ts
  app/backend/src/match/match.service.ts
  app/backend/src/mute/mute.controller.ts
  app/backend/src/mute/mute.service.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.service.ts
Labels: backend

#55 UPDATE: Modal 컴포넌트 size Props를 넣으면 적용되도록 구현함
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/utils/constant.ts
Labels: enhancement, frontend

#56 Record content 추가
  app/frontend/public/vs.svg
  app/frontend/src/component/circlechart/CircleChart.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/scss/content/RecordContent.scss
  docker.env
Labels: enhancement, frontend

#60 Update Record design
  app/frontend/public/number/0.svg
  app/frontend/public/number/1.svg
  app/frontend/public/number/2.svg
  app/frontend/public/number/3.svg
  app/frontend/public/search.svg
  app/frontend/public/status/offline.svg
  app/frontend/public/status/ongame.svg
  app/frontend/public/status/online.svg
  app/frontend/public/vs.svg
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
Labels: frontend

#57 DB CRUD update..
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/dto/chat.ts
  app/backend/src/dto/users.ts
  app/backend/src/err.ts
  app/backend/src/match/match.controller.ts
  app/backend/src/match/match.service.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.service.ts
Labels: backend

#61 Fix record
  app/frontend/src/component/modal/content/RecordContent.tsx
Labels: bug, frontend

#62 DB API updated...
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat.ts
  app/backend/src/err.ts
Labels: backend

#64 채팅방 리스트 구현
  app/frontend/public/lock.svg
  app/frontend/src/component/modal/content/ChatContent.tsx
  app/frontend/src/scss/content/ChatContent.scss
Labels: enhancement, frontend

#68 메인페이지가 오른쪽으로 밀리는 버그 수정 및 전적 검색 결과 없을 시 예외처리
  app/frontend/public/exclamation-mark.svg
  app/frontend/src/App.scss
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/content/RecordContent.scss
Labels: bug, enhancement, frontend

#66 FIX channel search
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat.ts
Labels: backend

#70 Add gateway to chat module
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/chat-users/chat-users.module.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/main.ts
Labels: backend

#72 Use svg instead png
  app/frontend/public/closeWindow.png
  app/frontend/public/closeWindow.svg
  app/frontend/src/component/modal/Modal.tsx
Labels: frontend

#74 Add Media query for mobile, various screen size
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/scss/mainpage/MainPage-media.scss
  app/frontend/src/scss/mainpage/MainPage-mobile.scss
  app/frontend/src/scss/mainpage/MainPage.scss
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar-mobile.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: enhancement, frontend

#77 Refactor Login Page design
  app/frontend/src/component/login/Login.tsx
  app/frontend/src/scss/Login.scss
Labels: enhancement, frontend

#75 Update login code
  app/backend/ormconfig.ts
  app/backend/src/achievements/achievements.module.ts
  app/backend/src/achievements/achievements.service.ts
  app/backend/src/admin/admin.module.ts
  app/backend/src/app.controller.ts
  app/backend/src/ban/ban.module.ts
  app/backend/src/block/block.module.ts
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/entities/session.ts
  app/backend/src/friend/friend.module.ts
  app/backend/src/match/match.module.ts
  app/backend/src/mute/mute.module.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.module.ts
  app/backend/src/session/session.service.ts
  app/backend/src/users/users.module.ts
  app/frontend/src/component/mainpage/MainPage.tsx
Labels: frontend, backend

#78 Fix #69 & #76
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/mainpage/MainPage-mobile.scss
Labels: bug, frontend

#79 Add animation
  app/frontend/public/close-window.svg
  app/frontend/public/closeWindow.svg
  app/frontend/src/component/chart/CircleChart.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/ChatContent.tsx
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/scss/content/ChatContent.scss
  app/frontend/src/scss/content/RecordContent.scss
Labels: enhancement, frontend

#81 Refactor friend list
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: enhancement, frontend

#83 이중모달을 위한 전체적인 모달구조 개선
  app/frontend/public/chat.svg
  app/frontend/public/close-window.png
  app/frontend/public/close-window.svg
  app/frontend/public/delete.png
  app/frontend/public/me.jpg
  app/frontend/public/pencil.png
  app/frontend/src/colors.scss
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/ChatContent.tsx
  app/frontend/src/component/modal/content/ConfigContent.tsx
  app/frontend/src/component/modal/content/MyProfileContent.tsx
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/scss/content/MyProfileContent.scss
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: enhancement, frontend

#84 Update chat.svg
  app/frontend/public/chat.svg
Labels: frontend

#82 Update ranking, friend list
  app/backend/src/dto/match.ts
  app/backend/src/dto/session.ts
  app/backend/src/err.ts
  app/backend/src/friend/friend.controller.ts
  app/backend/src/friend/friend.module.ts
  app/backend/src/friend/friend.service.ts
  app/backend/src/match/match.controller.ts
  app/backend/src/match/match.service.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
Labels: backend

#87 FIX 작은모달 가끔씩 큰 모달로 되는 경우를 버그 해결
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/MyProfileContent.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/scss/content/ManageFriendContent.scss
  app/frontend/src/utils/constant.ts
Labels: bug, frontend

#90 Refactor file tree
  app/frontend/src/App.tsx
  app/frontend/src/component/componentIDX.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/content/ChatContent.tsx
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/component/modal/content/myprofile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
  app/frontend/src/scss/content/myprofile/ManageFriendContent.scss
  app/frontend/src/scss/content/myprofile/MyProfileContent.scss
Labels: frontend

#89 Update login process
  app/backend/src/main.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
  app/frontend/src/component/login/Login.tsx
Labels: frontend, backend

#97 Fix channel title search bug
  app/backend/src/chat/chat.service.ts
Labels: backend

#96 Feat search sessionID -> userID
  app/backend/src/friend/friend.controller.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
Labels: backend

#93 Update channel search
  app/backend/src/chat/chat.controller.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/dto/chat.ts
Labels: backend

#100 Fix record image, scroll bug
  app/frontend/src/component/modal/content/RecordContent.tsx
  app/frontend/src/scss/Modal.scss
Labels: bug, frontend

#99 Manage friend
  app/frontend/public/back-arrow.svg
  app/frontend/public/block.png
  app/frontend/public/green-crown.png
  app/frontend/public/red-crown.png
  app/frontend/public/trashcan.png
  app/frontend/public/yellow-crown.png
  app/frontend/src/App.scss
  app/frontend/src/component/modal/content/myprofile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
  app/frontend/src/dummydata/testBlockedList.ts
  app/frontend/src/dummydata/testFriendListMyProfile.ts
  app/frontend/src/scss/content/myprofile/ManageFriendContent.scss
  app/frontend/src/scss/content/myprofile/MyProfileContent.scss
  app/frontend/src/scss/mainpage/MainPage.scss
  app/frontend/src/utils/decideTitle.ts
Labels: enhancement, frontend

#104 Fix MainPage button style bug
  app/frontend/src/component/mainpage/MainPage.tsx
Labels: bug, frontend

#105 Change nick 닉네임 수정기능 구현함
  app/frontend/public/check.png
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
  app/frontend/src/scss/content/myprofile/MyProfileContent.scss
Labels: enhancement, frontend

#107 Refactor tiny mistakes
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
Labels: frontend

#102 Update search user list
  app/backend/src/achievements/achievements.module.ts
  app/backend/src/admin/admin.module.ts
  app/backend/src/ban/ban.module.ts
  app/backend/src/block/block.controller.ts
  app/backend/src/block/block.module.ts
  app/backend/src/block/block.service.ts
  app/backend/src/chat-users/chat-users.module.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/dto/block.ts
  app/backend/src/dto/friend.ts
  app/backend/src/dto/users.ts
  app/backend/src/friend/friend.controller.ts
  app/backend/src/friend/friend.module.ts
  app/backend/src/friend/friend.service.ts
  app/backend/src/match/match.module.ts
  app/backend/src/mute/mute.module.ts
  app/backend/src/session/session.module.ts
  app/backend/src/users/users.module.ts
Labels: backend

#112 ledder_level 에 따른 칭호를 보여주는 setAchievement 함수 구현
  app/frontend/src/component/modal/content/myprofile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/myprofile/MyProfileContent.tsx
  app/frontend/src/dummydata/testBlockedList.ts
  app/frontend/src/scss/content/myprofile/MyProfileContent.scss
  app/frontend/src/utils/decideTitle.ts
  app/frontend/src/utils/setAchievement.ts
Labels: enhancement, frontend
