Repository AMATEURTOSS/pong_pong_website, pull requests merged in 2021-11, with the labels that each got.

#299 Fix questions API
  app/backend/src/database/seeds/create_initial_data.ts
  app/backend/src/dto/questions.ts
  app/backend/src/entities/questions.ts
  app/backend/src/questions/questions.controller.ts
  app/backend/src/questions/questions.service.ts
Labels: backend

#301 Fix router name
  app/backend/src/questions/questions.controller.ts
Labels: backend

#304 Improve admin view
  app/frontend/src/component/mainpage/AdminView.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/adminview/AdminView.tsx
  app/frontend/src/component/mainpage/adminview/QuestionSelector.tsx
  app/frontend/src/component/mainpage/adminview/question/QuestionContent.tsx
  app/frontend/src/component/mainpage/question/QuestionContent.tsx
  app/frontend/src/scss/adminview/AdminView.scss
  app/frontend/src/scss/adminview/QuestionSelector.scss
  app/frontend/src/scss/content/QuestionContent.scss
  app/frontend/src/utils/Time.ts
Labels: enhancement, frontend

#307 Fix winning_rate nan
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: bug, frontend

#308 Fix media
  app/frontend/src/component/mainpage/adminview/AdminView.tsx
  app/frontend/src/scss/adminview/AdminView-media.scss
  app/frontend/src/scss/adminview/AdminView-mobile.scss
  app/frontend/src/scss/navbar/NavBar-media.scss
  app/frontend/src/scss/navbar/NavBar-mobile.scss
Labels: bug, frontend

#309 Update dm time
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
Labels: frontend

#310 Add change avatarImg
  app/backend/.gitignore
  app/backend/files/Screen Shot 2021-05-04 at 3-941c.png
  app/backend/package-lock.json
  app/backend/package.json
  app/backend/src/app.controller.ts
  app/backend/src/dto/users.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.service.ts
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/scss/content/profile/ProfileContent.scss
Labels: enhancement, frontend, backend

#312 Fix MyInfo get bug
  app/frontend/src/Context.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
Labels: frontend

#311 Remove dummy data
  app/frontend/src/dummydata/testChatRoomLog.ts
  app/frontend/src/dummydata/testDM.ts
Labels: frontend

#314 Fix empty string search error
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
Labels: bug, frontend

#316 Fix Other profile css bug
  app/frontend/src/scss/content/profile/ProfileContent.scss
Labels: bug, frontend

#317 Add send message in other profile
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: enhancement, frontend

#320 Add ongame status
  app/backend/package-lock.json
  app/backend/src/dm-store/dm-store.service.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/global/global.module.ts
  app/backend/src/global/global.service.ts
  app/backend/src/session/session.module.ts
  app/backend/src/session/session.service.ts
  app/backend/src/users/users.module.ts
  app/backend/src/users/users.service.ts
  app/frontend/package-lock.json
  app/frontend/public/status/ongame.svg
Labels: backend

#324 Fix css bugs and Update css design
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/scss/Modal.scss
  app/frontend/src/scss/content/RecordContent.scss
  app/frontend/src/scss/content/chat/ChatContent.scss
  app/frontend/src/scss/content/contactus/ContactUs.scss
  app/frontend/src/scss/content/profile/ProfileContent.scss
  app/frontend/src/scss/dm/DmList.scss
  app/frontend/src/scss/dm/DmRoom.scss
  app/frontend/src/scss/navbar/NavBar.scss
Labels: bug, enhancement, frontend

#326 Fix Chat data type bug
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
Labels: bug, frontend

#327 Fix chat bug
  app/backend/src/chat/chat.gateway.ts
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
Labels: bug, backend

#331 Fix profile bug
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/scss/content/profile/ProfileContent.scss
Labels: bug, frontend

#337 Fix error message
  app/backend/src/err.ts
Labels: backend

#336 Update alert to Notice
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: frontend, refactoring

#330 Add duplicate login check
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
Labels: backend

#339 Update user delete
  app/backend/src/session/session.service.ts
  app/backend/src/users/users.controller.ts
Labels: backend

#347 Fetch unmount exception
  app/frontend/src/component/mainpage/adminview/AdminView.tsx
  app/frontend/src/component/mainpage/dm/DmList.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/component/mainpage/navbar/contactUs/ContactUs.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/component/modal/content/profile/TwoFactorOnOff.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: bug, frontend

#342 Fix public password
  app/backend/src/chat/chat.service.ts
Labels: bug, backend

#352 Fix #338
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
Labels: bug, frontend

#351 Add conditionalContextMenu
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
Labels: frontend

#350 Use window.location.origin for fetch instead of "127.0.0.1"
  app/frontend/src/index.tsx
Labels: frontend, refactoring

#354 Fix ladder queue bug
  app/backend/src/game/game.gateway.ts
Labels: bug, backend

#358 Fix mainpage buttons container display
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
Labels: bug, frontend

#356 Fix record search
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: bug, frontend

#353 Fix Score bug
  app/backend/package-lock.json
  app/backend/src/game/game.gateway.ts
  app/backend/src/match/match.service.ts
  app/frontend/package-lock.json
Labels: bug, backend

#357 Game update
  .gitignore
  app/backend/src/game/game.logic.ts
  app/frontend/public/game-map/map1.png
  app/frontend/public/game-map/map2.png
  app/frontend/public/game-map/map3.png
Labels: backend

#364 Fix set state bug
  app/frontend/src/component/mainpage/adminview/AdminView.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/chat/ConfigChatRoom.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
Labels: bug, frontend

#361 Fix record score bug
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: bug, frontend

#366 Use Notice instead of Alert
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/component/mainpage/navbar/contactUs/ContactUs.tsx
Labels: frontend, refactoring

#365 Add README, License
  LICENSE
  README.md
  images/logo.png
  images/mainpageScreenShot.png
Labels: documentation

#369 Add height property in avatarImage In Navbar
  app/frontend/src/scss/navbar/NavBar.scss
Labels: bug, frontend

#374 Fix profile set state bug
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: bug, frontend

#376 Update record time
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: bug, frontend

#379 Fix adminview refresh bug
  app/frontend/src/component/mainpage/adminview/AdminView.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
Labels: bug, frontend

#384 Refactor GameRoomContent
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
Labels: frontend, refactoring

#385 Fix error message
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/modal/content/profile/ManageFriendContent.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: bug, frontend

#386 Fix users/info Post error
  app/backend/package-lock.json
  app/backend/src/dto/users.ts
  app/backend/src/users/users.controller.ts
  app/backend/src/users/users.service.ts
  app/frontend/package-lock.json
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: bug, backend

#388 Add logout api
  app/backend/src/session/session.controller.ts
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: backend

#387 Add Test checklist
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/scss/content/chat/ChatContent.scss
  test.md
Labels: documentation, frontend

#396 Add first login prompt
  app/backend/src/session/session.service.ts
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
Labels: enhancement, frontend, backend

#397 Add Invite game
  app/backend/package-lock.json
  app/backend/src/dto/game.ts
  app/backend/src/dto/global.ts
  app/backend/src/game/game.controller.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/game/game.module.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/utils.ts
  app/frontend/package-lock.json
  app/frontend/src/Context.tsx
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/dm/Dm.tsx
  app/frontend/src/component/mainpage/dm/DmList.tsx
  app/frontend/src/component/mainpage/dm/DmRoom.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatContent.tsx
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatInviteContent.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/game/GameContent.tsx
  app/frontend/src/component/modal/content/game/GameMatchContent.tsx
  app/frontend/src/component/modal/content/game/GameOptionContent.tsx
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
  app/frontend/src/scss/content/game/GameMatchContent.scss
Labels: enhancement, frontend

#399 Add Chat watch
  app/backend/src/chat-users/chat-users.service.ts
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/content/chat/ChatContextMenu.tsx
  app/frontend/src/component/modal/content/chat/ChatRoomContent.tsx
  app/frontend/src/component/modal/content/game/GameSpectateContent.tsx
Labels: enhancement, frontend

#400 Add invite game in others profile
  app/frontend/src/component/modal/content/profile/ProfileContent.tsx
  app/frontend/src/scss/content/profile/ProfileContent.scss
Labels: enhancement, frontend

#403 Fix status
  app/backend/src/game/game.gateway.ts
Labels: bug, backend

#405 Fix ladder score integer
  app/backend/src/match/match.service.ts
Labels: backend

#408 Fix nick bug
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/dm-store/dm-store.service.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/global/global.gateway.ts
  app/frontend/src/component/login/Login.tsx
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
  app/frontend/src/component/modal/content/game/GameSpectateContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
  app/frontend/webpack.config.js
Labels: backend

#409 Release
  app/backend/src/chat-users/chat-users.service.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/dm-store/dm-store.service.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/global/global.gateway.ts
  app/frontend/src/component/modal/content/game/GameRoomContent.tsx
  app/frontend/src/component/modal/content/game/GameSpectateContent.tsx
  app/frontend/src/component/modal/content/record/RecordContent.tsx
Labels: frontend, backend

#410 Merge develop
  docker-compose.yml
Labels: backend

#411 Fix chat
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/game/game.controller.ts
  docker-compose.yml
Labels: backend

#412 Update build mod to dev
  docker-compose.yml
Labels: frontend

#413 Fix FireFox Font Error
  app/frontend/src/scss/content/game/GameOptionContent.scss
Labels: bug, frontend

#414 Fix status
  app/backend/src/game/game.gateway.ts
  app/backend/src/global/global.service.ts
Labels: backend

#415 Delete log, Fix inviteDM Nick
  app/backend/src/achievements/achievements.controller.ts
  app/backend/src/app.service.ts
  app/backend/src/auth/logged-in-ws.guard.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/game/game.gateway.ts
  app/backend/src/game/game.logic.ts
  app/backend/src/global/global.gateway.ts
  app/backend/src/match/match.service.ts
  app/backend/src/mute/mute.service.ts
  app/backend/src/questions/questions.service.ts
  app/backend/src/session/session.controller.ts
  app/backend/src/session/session.service.ts
  app/frontend/src/component/login/Login.tsx
  app/frontend/src/utils/Time.ts
Labels: bug, backend

#417 Disabled swagger, teseter login
  app/backend/src/main.ts
  app/backend/src/session/session.controller.ts
Labels: backend

#416 fix game gateway disconnect error
  app/backend/src/chat/chat.gateway.ts
Labels: bug, backend

#419 Fix matching disconnect bug
  app/backend/src/game/game.gateway.ts
  app/backend/src/global/global.gateway.ts
Labels: bug, backend
