Repository AMATEURTOSS/pong_pong_website, pull requests merged in 2021-07, with the labels that each got.

#5 Add | API Document 추가
  app/backend/README.md
  app/db/init-user-db.sh
Labels: backend, documentation

#9 Fix #2
  app/frontend/src/scss/NavBar.scss
Labels: bug, frontend

#14 Fix | Same-Site 가 되도록 url을 localhost:3001에서 127.0.0.1:3001로 변경
  app/backend/src/app.controller.ts
  app/backend/src/app.service.ts
  app/backend/src/main.ts
  app/frontend/src/component/mainpage/MainPage.tsx
Labels: backend, bug

#17 Add EasyFetch class
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/utils/EasyFetch.ts
Labels: enhancement, frontend

#15 Add Main page button
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/scss/MainPage.scss
Labels: enhancement, frontend

#18 REFACTOR NavBar.scss 컨텍스트메뉴 디자인 수정
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/scss/NavBar.scss
Labels: frontend

#21 Improve modal ux
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/scss/Modal.scss
Labels: enhancement, frontend

#22 REFACTOR: Nav bar new design 구현했습니다.
  app/frontend/public/config.png
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/scss/MainPage.scss
  app/frontend/src/scss/NavBar.scss
Labels: frontend

#26 BUG: 바디에 white 줘서 모든 글씨체가 하얀색인 것을 NavBar에만 하얀글씨 적용했습니다
  app/frontend/src/scss/MainPage.scss
  app/frontend/src/scss/NavBar.scss
Labels: bug, frontend

#24 Add ChatContent Prototype
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/Modal.tsx
  app/frontend/src/component/modal/content/ChatContent.tsx
  app/frontend/src/component/modal/content/ConfigContent.tsx
Labels: enhancement, frontend

#29 영어를 한글로 전환
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/scss/MainPage.scss
Labels: frontend

#33 Modal detect escape key
  app/frontend/src/component/modal/Modal.tsx
Labels: enhancement, frontend

#34 FEAT: 모달창 뒤로가기 구현(+모달창 닫힐 때 애니메이션 구현) #32
  app/frontend/src/component/mainpage/MainPage.tsx
  app/frontend/src/component/modal/Modal.tsx
Labels: frontend

#35 REFACTOR 이미지파일을 public폴더 안에 저장해서 그 이미지를 이용해서 NavBar를 재구현했습니다. #27
  app/frontend/public/controller-play.svg
  app/frontend/public/line-graph.svg
  app/frontend/public/tools.svg
  app/frontend/public/users.svg
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/scss/NavBar.scss
Labels: frontend

#25 Session ID 유효성 검증 추가 #8
  app/backend/README.md
  app/backend/src/app.controller.ts
  app/backend/src/app.service.ts
Labels: backend

#41 Fix | Readme 수정, db 컨테이너가 Dockerfile 이미지를 사용하지 않도록 수정
  app/backend/.dockerignore
  app/backend/README.md
  app/db/.gitignore
  app/db/Dockerfile
  app/db/init-user-db.sh
  docker-compose.yml
Labels: backend, bug

#37 Friend list 구현
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/contextmenu/ContextMenu.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/scss/NavBar.scss
Labels: bug, enhancement, frontend, help wanted

#42 Feat | 친구 검색 후 추가하는 UI 구현했습니다. #36
  app/frontend/public/plus.svg
  app/frontend/src/component/mainpage/navbar/NavBar.tsx
  app/frontend/src/component/mainpage/navbar/addFriend/AddFriend.tsx
  app/frontend/src/component/mainpage/navbar/friendlist/FriendList.tsx
  app/frontend/src/scss/MainPage.scss
  app/frontend/src/scss/NavBar.scss
Labels: frontend
